{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "simple-import-sort"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/ban-ts-comment": ["off"],
    "@typescript-eslint/no-empty-function": ["off"],
    "@typescript-eslint/no-var-requires": ["off"],
    "@typescript-eslint/explicit-function-return-type": ["off"],
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": [
      "error",
      { "groups": [["^(?!\\.).*"], ["(shared|client|server)"], ["^\\."]] }
    ]
//    "sort-imports": "off",
//    "import/order": "off"
  }
}
