$createColor: #007b45;
$createColor2: #97e2a6;
$joinColor: #5000f3;
$joinColor2: #a998ff;

body {
  margin: 0;
  background-color: black;

  canvas {
    cursor: none;
  }

  .validate {
    color: #9d0000;
    font-size: 17px;
    position: fixed;
    align-self: flex-end;
  }

  #playerListPanel, #teamsPlayersListPanel {
    overflow: hidden;
    background: rgba(171, 205, 239, 0.3);
    position: absolute;
    top: 0;

    span {
      color: white;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding-left: 5px;
    }
  }

  #leftDownPanel {
    overflow: hidden;
    background: rgba(171, 205, 239, 0.3);
    position: absolute;
    bottom: 5%;

    span {
      color: white;
    }

    ul#weaponsList {
      list-style-type: none;
      margin: 0;
      padding-left: 5px;
    }
  }

  #rightDownPanel {
    overflow: hidden;
    background: rgba(171, 205, 239, 0.3);
    position: absolute;
    bottom: 5%;
    right: 0%;

    span {
      color: white;
    }

    ul#powersList {
      list-style-type: none;
      margin: 0;
    }
  }
}

form {
  width: 100%;
}

.title {
  font-size: 2.5rem;
}

.title2 {
  font-size: 2rem;
}

.full {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
}

.select {
  width: 80%;
  font-size: 1.5rem;
}

.input {
  width: 79%;
  font-size: 1.5rem;
}

.fill {
  width: 100%;
  height: 90%;
  font-size: 1.5rem;
  text-align: center;
}

#scrolltable {
  align-self: flex-start;
  width: 100%;
  height: 90%;
  overflow-y: auto;

  table {
    border-collapse: collapse;
    width: 99.9%;

    th,
    td {
      border: 1px solid black;
    }

    td:nth-child(1) {
      word-break: break-all;
    }

    thead {
      background-color: black;
      color: white;
      position: sticky;
      top: 0;
    }

    tbody {
      tr.active {
        color: white;
        background-color: $createColor;
      }
    }
  }
}

.create-fill {
  background: $createColor;
  color: white;
}

.create-white {
  background: $createColor2;
  color: black;
}

.join-fill {
  background: $joinColor;
  color: white;
}

.join-white {
  background: $joinColor2;
  color: black;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.container {
  margin: 0 auto 0 auto;
}

.grid {
  height: calc(100vh - 16px);
  display: grid;
  grid-gap: 8px;
  padding: 8px;
  background-color: black;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-template-areas:
    ' options header header header '
    ' create-header create-header create-header create-header '
    ' form form form form '
    ' name name name add '
    ' join-header join-header join-header join-header '
    ' tab tab tab tab '
    ' tab tab tab tab '
    ' nick nick nick join '
    ' footer footer footer footer ';
}

.header {
  grid-area: header;
  color: white;
  background-image: linear-gradient(to right, $createColor, $joinColor);
}

.form {
  grid-area: form;
}

.name {
  grid-area: name;
}

.add {
  grid-area: add;
}

.tab {
  grid-area: tab;
}

.nick {
  grid-area: nick;
}

.join {
  grid-area: join;
}

.create-header {
  grid-area: create-header;
}

.join-header {
  grid-area: join-header;
}

.footer {
  color: white;
  grid-area: footer;
}

@media (min-width: 640px) {
  .grid {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      ' options header header header header header'
      ' create-header create-header create-header join-header join-header join-header '
      ' form form form tab tab tab '
      ' form form form tab tab tab '
      ' form form form tab tab tab '
      ' form form form tab tab tab '
      ' form form form tab tab tab '
      ' name name add nick nick join '
      ' footer footer footer footer footer footer ';
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-rows: repeat(8, 1fr);
  }
  .header {
    grid-column: 2 / -2;
    grid-row: 1;
  }
}

@media (min-width: 1680px) {
  .grid {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: [page-start] repeat(12, 1fr) [page-end final];
    grid-template-rows: repeat(11, 1fr);
  }

  .options {
    grid-column: 2/ 3;
    grid-row: 1 / 3;
  }

  .header {
    grid-column: 3/ 11;
    grid-row: 1 / 3;
  }

  .create-header {
    grid-column: 2 / 7;
    grid-row: 3 / 4;
  }
  .form {
    grid-column: 2 / 7;
    grid-row: 4 / 10;
  }
  .name {
    grid-column: 2 / 6;
    grid-row: 10;
  }
  .add {
    grid-column: 6;
    grid-row: 10;
  }
  .join-header {
    grid-column: 7 / 12;
    grid-row: 3 / 4;
  }
  .tab {
    grid-column: 7 / 12;
    grid-row: 4 / 10;
  }
  .nick {
    grid-column: 7 / 11;
    grid-row: 10;
  }
  .join {
    grid-column: 11 / 12;
    grid-row: 10;
  }
  .footer {
    grid-column: 3 / 11;
    grid-row: 11;
  }
}

.options {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;

  &.light {
    background: rgba(255, 255, 255, 0.5);
  }

  .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
  }

  &:target {
    visibility: visible;
    opacity: 1;
  }
}

.popup {
  margin: 75px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  width: 300px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;

  .light & {
    border-color: #aaa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  }

  h2 {
    margin-top: 0;
    color: #666;
    //font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif;
  }

  .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;

    &:hover {
      opacity: 1;
    }
  }

  .content {
    max-height: 400px;
    overflow: auto;
  }

  p {
    margin: 0 0 1em;

    &:last-child {
      margin: 0;
    }
  }
}

input[type='button']:disabled,
button:disabled {
  color: grey !important;
}
