body {
  margin: 0;
  background-color: black;

  canvas {
    cursor: none;
  }

  .validate {
    color: #6d0000;
    font-size: 17px;
  }

  #leftPanel {
    overflow: hidden;
    background: rgba(171, 205, 239, 0.3);
    position: absolute;
    top: 0;

    span {
      color: white;
    }

    ul#playersList {
      list-style-type: none;
      margin: 0;
      padding-left: 5px;
    }
  }
}

.box {
  background: #ea47f3;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

  .container {
    margin: 0 auto 0 auto;
  }

  .grid {
    height: calc(100vh - 16px);
    display: grid;
    grid-gap: 8px;
    padding: 8px;
    background-color: green;
    grid-template-columns: [page-start] repeat(4, 1fr) [page-end final];
    grid-template-rows: repeat(8, 1fr);
  }
  .header {
    grid-column: 1 / 5;
    grid-row: 1;
  }
  .form {
    grid-column: 1 / 5;
    grid-row: span 2 / 4;
  }
  .name {
    grid-column: 1 / span 3;
    grid-row: 4;
  }
  .add {
    grid-column: 4;
    grid-row: 4;
  }
  .tab {
    grid-column: page-start / page-end;
    grid-row: 5 / 8;
  }
  .nick {
    grid-column: page-start / span 3;
    grid-row: span 1 /-1;
  }
  .join {
    grid-column: span 1 / page-end;
    grid-row: span 1 /-1;
  }

@media (min-width: 640px) {
  .grid {
    background-color: yellow;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
            " header header header header header header"
            " form form form tab tab tab "
            " form form form tab tab tab "
            " form form form tab tab tab "
            " form form form tab tab tab "
            " form form form tab tab tab "
            " form form form tab tab tab "
            " name name add nick nick join "
  }

  .header {
    grid-area: header;
  }

  .form {
    grid-area: form;
  }

  .name {
    grid-area: name;
  }

  .add {
    grid-area: add;
  }

  .tab {
    grid-column: tab-start / tab-end;
    grid-row: tab-start / tab-end;
  }

  .nick {
    grid-area: nick;
  }

  .join {
    grid-area: join;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }
  .grid {
    background-color: orange;
    grid-template-rows: repeat(8, 1fr);
  }
  .header {
    grid-column: 2 / -2;
    grid-row: 1;
  }

}

@media (min-width: 1680px) {
  .container {
    max-width: 1500px;
  }
  .grid {
    background-color: red;

    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas:
            ". . header header header header . ."
            ". . header header header header . ."
            ". form form form tab tab tab ."
            ". form form form tab tab tab ."
            ". form form form tab tab tab ."
            ". form form form tab tab tab ."
            ". form form form tab tab tab ."
            ". form form form tab tab tab ."
            ". name name add nick nick join ."
            ". . . . . . . .";
  }
  .header {
    grid-area: header;
  }
}
