body {

  margin: 0;
  background-color: black;

  canvas {
    cursor: none;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: DodgerBlue;
    flex-flow: row wrap;
    width: 100%;

    > div {
      text-align: center;
      margin: 10px;
      padding: 20px;
      font-size: 30px;
    }

    .header {
      flex-grow: 8;
      width: 95%;
      height: 100px;
    }

    .join-game {
      flex-grow: 3;
      width: 40%;

      .table-row {
        margin: 10px;
        display: flex;

        .fixed_header {
          table-layout: fixed;
          border-collapse: collapse;

          #gamesListTable {
            text-align: center;
            width: 100%;
            border-collapse: collapse;
          }

          tbody {
            display: block;
            width: 100%;
            overflow: auto;
            height: 300px;
          }

          thead tr {
            display: block;
          }

          thead {
            background: black;
            color: #fff;
          }

          th, td {
            padding: 5px;
            text-align: center;
            border: 1px solid black;
            width: 400px;
          }
        }
      }
    }

    .add-game {
      flex-grow: 3;
      width: 40%;

      #gameTypeInput {
        width: 173px;
        margin-left: 12px
      }
    }
  }

}






